window#waybar {
  font-family: Ubuntu Nerd Font;
  font-weight: bold;      
  font-size: 15px;

  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

#clock,
#tray,
#mode{
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

#workspaces{
    font-weight: normal;
    margin-bottom: 3px;
}

#pulseaudio,
#backlight,
#network,
#bluetooth,
#battery,
#custom-power{
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}


#tray {
  padding-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;

}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#workspaces {
  padding: 5px 2px;
  border-radius: 20px;
  background-color: rgba(69, 69, 69, 0.39);
  border: 1px solid rgba(105, 105, 105, 0.4);
}

#workspaces button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
  opacity:1.0;
}

#workspaces button:hover {
  border-radius: 10px;
  min-width: 50px;
  background-size: 400% 400%;
}

#pulseaudio{
    color: white;
}

#pulseaudio.muted  {
    color: #CC4C28;
}

#network.disconnected {
  color: #fff;
}

#battery {
  color: #FFFFFF;

}

#battery.critical {
    color: #CC4C28;
}

#battery.full,
#battery.plugged {
  color: #FFFFFF;

}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #B29666;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#clock {
  font-family: Ubuntu Nerd Font;
  font-weight: bold;      
  font-size: 15px;
  padding-top: 2px;
}
